# HEALTH CARE FRAUD DETECTION - PART-D

In [1]:
# Import Pandas
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold

In [2]:
partd = pd.read_csv("raw_data/Part-D.csv",encoding='ISO-8859-1')

In [3]:
partd.shape

(1255175, 85)

In [4]:
partd.dtypes

PRSCRBR_NPI                int64
Prscrbr_Last_Org_Name     object
Prscrbr_First_Name        object
Prscrbr_MI                object
Prscrbr_Crdntls           object
                          ...
Bene_Race_Natind_Cnt     float64
Bene_Race_Othr_Cnt       float64
Bene_Dual_Cnt            float64
Bene_Ndual_Cnt           float64
Bene_Avg_Risk_Scre       float64
Length: 85, dtype: object

## Including "LEIE_EXCLUSIONS" Dataset

In [5]:
leie_ex = pd.read_csv("raw_data/LEIE_Exclusion.csv",low_memory=False)

In [6]:
leie_ex.shape

(76546, 18)

In [7]:
leie_ex.dtypes

LASTNAME       object
FIRSTNAME      object
MIDNAME        object
BUSNAME        object
GENERAL        object
SPECIALTY      object
UPIN           object
NPI             int64
DOB           float64
ADDRESS        object
CITY           object
STATE          object
ZIP             int64
EXCLTYPE       object
EXCLDATE        int64
REINDATE        int64
WAIVERDATE      int64
WVRSTATE       object
dtype: object

## EXPLORATORY DATA ANALYTICS FOR PART-D

### First Take out all the NA rows in which there are more than 2 NA attributes

In [9]:
partd = partd.dropna(axis=0,thresh=2)

In [12]:
partd.dropna(subset=["PRSCRBR_NPI"],axis=0)

,PRSCRBR_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_MI,Prscrbr_Crdntls,Prscrbr_Gndr,Prscrbr_Ent_Cd,Prscrbr_St1,Prscrbr_St2,Prscrbr_City,...,Bene_Male_Cnt,Bene_Race_Wht_Cnt,Bene_Race_Black_Cnt,Bene_Race_Api_Cnt,Bene_Race_Hspnc_Cnt,Bene_Race_Natind_Cnt,Bene_Race_Othr_Cnt,Bene_Dual_Cnt,Bene_Ndual_Cnt,Bene_Avg_Risk_Scre
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,...,49.0,67.0,27.0,NaN,NaN,0.0,NaN,28.0,78.0,2.245800
1,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,82.0,130.0,81.0,NaN,12.0,0.0,NaN,125.0,103.0,1.695165
2,1003000167,Escobar,Julio,E,DDS,M,I,5 Pine Cone Rd,NaN,Dayton,...,23.0,41.0,0.0,0.0,NaN,0.0,NaN,0.0,43.0,1.006070
3,1003000175,Reyes-Vasquez,Belinda,NaN,D.D.S.,F,I,322 N Azusa Ave Ste 202,NaN,La Puente,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.251869
4,1003000282,Blakemore,Rosie,K,FNP,F,I,Tennessee Prison For Women,3881 Stewarts Lane,Nashville,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.919074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1255170,1992999569,Yuen,Jenny,F,"O.D., F.A.A.O",F,I,515 Gough St,NaN,San Francisco,...,NaN,NaN,0.0,16.0,0.0,0.0,NaN,NaN,NaN,1.451353
1255171,1992999650,Yong,Wayne,B,DMD,M,I,28 Atlantic Avenue,121,Boston,...,13.0,NaN,NaN,18.0,0.0,0.0,NaN,NaN,NaN,1.344691
1255172,1992999759,Soriano,Dino,V,RN MSN HSA FNP-C,M,I,171 Clover Point Cir,NaN,Guyton,...,NaN,16.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.545349
1255173,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,62.0,100.0,NaN,16.0,NaN,0.0,NaN,18.0,108.0,1.109445
1255174,1992999874,Joffe,Gabriella,NaN,NaN,F,I,5620 Brook Rd,NaN,Richmond,...,51.0,74.0,25.0,NaN,NaN,0.0,NaN,28.0,75.0,2.748669

In [13]:
partd.columns

Index(['PRSCRBR_NPI', 'Prscrbr_Last_Org_Name', 'Prscrbr_First_Name',
       'Prscrbr_MI', 'Prscrbr_Crdntls', 'Prscrbr_Gndr', 'Prscrbr_Ent_Cd',
       'Prscrbr_St1', 'Prscrbr_St2', 'Prscrbr_City', 'Prscrbr_State_Abrvtn',
       'Prscrbr_State_FIPS', 'Prscrbr_zip5', 'Prscrbr_RUCA',
       'Prscrbr_RUCA_Desc', 'Prscrbr_Cntry', 'Prscrbr_Type',
       'Prscrbr_Type_src', 'Tot_Clms', 'Tot_30day_Fills', 'Tot_Drug_Cst',
       'Tot_Day_Suply', 'Tot_Benes', 'GE65_Sprsn_Flag', 'GE65_Tot_Clms',
       'GE65_Tot_30day_Fills', 'GE65_Tot_Drug_Cst', 'GE65_Tot_Day_Suply',
       'GE65_Bene_Sprsn_Flag', 'GE65_Tot_Benes', 'Brnd_Sprsn_Flag',
       'Brnd_Tot_Clms', 'Brnd_Tot_Drug_Cst', 'Gnrc_Sprsn_Flag',
       'Gnrc_Tot_Clms', 'Gnrc_Tot_Drug_Cst', 'Othr_Sprsn_Flag',
       'Othr_Tot_Clms', 'Othr_Tot_Drug_Cst', 'MAPD_Sprsn_Flag',
       'MAPD_Tot_Clms', 'MAPD_Tot_Drug_Cst', 'PDP_Sprsn_Flag', 'PDP_Tot_Clms',
       'PDP_Tot_Drug_Cst', 'LIS_Sprsn_Flag', 'LIS_Tot_Clms', 'LIS_Drug_Cst',
       'NonLIS_Sprsn_Flag', 'NonLIS_Tot_Clms', 'NonLIS_Drug_Cst',
       'Opioid_Tot_Clms', 'Opioid_Tot_Drug_Cst', 'Opioid_Tot_Suply',
       'Opioid_Tot_Benes', 'Opioid_Prscrbr_Rate', 'Opioid_LA_Tot_Clms',
       'Opioid_LA_Tot_Drug_Cst', 'Opioid_LA_Tot_Suply', 'Opioid_LA_Tot_Benes',
       'Opioid_LA_Prscrbr_Rate', 'Antbtc_Tot_Clms', 'Antbtc_Tot_Drug_Cst',
       'Antbtc_Tot_Benes', 'Antpsyct_GE65_Sprsn_Flag',
       'Antpsyct_GE65_Tot_Clms', 'Antpsyct_GE65_Tot_Drug_Cst',
       'Antpsyct_GE65_Bene_Suprsn_Flag', 'Antpsyct_GE65_Tot_Benes',
       'Bene_Avg_Age', 'Bene_Age_LT_65_Cnt', 'Bene_Age_65_74_Cnt',
       'Bene_Age_75_84_Cnt', 'Bene_Age_GT_84_Cnt', 'Bene_Feml_Cnt',
       'Bene_Male_Cnt', 'Bene_Race_Wht_Cnt', 'Bene_Race_Black_Cnt',
       'Bene_Race_Api_Cnt', 'Bene_Race_Hspnc_Cnt', 'Bene_Race_Natind_Cnt',
       'Bene_Race_Othr_Cnt', 'Bene_Dual_Cnt', 'Bene_Ndual_Cnt',
       'Bene_Avg_Risk_Scre'],
      dtype='object')

### LEIE DATA PRE-PROCESSING

In [14]:
ex_npi = leie_ex[leie_ex["NPI"]!=0]["NPI"]

In [15]:
ex_lnames = leie_ex.dropna(subset=["LASTNAME"],axis=0)["LASTNAME"]

In [16]:
ex_fnames = leie_ex.dropna(subset=["FIRSTNAME"],axis=0)["FIRSTNAME"]

In [17]:
leie_ex["MIDNAME"] = leie_ex["MIDNAME"].apply(lambda row : row if row!= " " else 0)

In [18]:
ex_mi = leie_ex[leie_ex["MIDNAME"]!=0]["MIDNAME"]

### GETTING ALL THE FRAUDELENT DATA

In [ ]:
x = partd["PRSCRBR_NPI"].size
count = 0
y =[];
while (count < x):
    chk = partd["PRSCRBR_NPI"].iloc[count]
    chk1 = partd["Prscrbr_First_Name"].iloc[count]
    chk2 = partd["Prscrbr_Last_Org_Name"].iloc[count]
    chk3 = partd["Prscrbr_MI"].iloc[count]
    if(chk in ex_npi.unique()):
        y.append(1)
    elif chk1 in ex_fnames.unique():
         y.append(1)
    elif chk2 in ex_lnames.unique():
         y.append(1)
    elif chk3 in ex_mi.unique():
         y.append(1)   
    else:
        y.append(0)
    count = count+1

In [ ]:
partdx = pd.DataFrame(y, columns =['Fraud'])

In [ ]:
partdx.value_counts()